*.o
src/gen_digest_lists
src/upload_digest_lists
src/verify_digest_lists

tests/lib
tests/ima
tests/rpm
tests/gen

*Makefile.in
*Makefile
*~

ar-lib
config.h
config.h.in
configure.scan
stamp-h1
aclocal.m4
autom4te.cache/
compile
config.log
config.status
config.sub
config.guess
configure
depcomp
install-sh
missing
libtool
ltmain.sh
**/.deps/
**/.libs/
*.lo
*.la
*.dirstamp
